
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ticket Purchase System</h1>
    <p>Purchasing Tickets are now Aro Shohoz! 😎</p>
    <a class="btn btn-info" asp-area="Customer" asp-controller="Ticket" asp-action="Index" ><strong>Customer Dashboard</strong></a>
    <a class="btn btn-danger" asp-area="Customer" asp-controller="Ticket" asp-action="PlaceOrder"><strong>Purchase Ticket</strong></a>
</div>
