
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about building Web apps with ASP.NET Core.</p>
    <a class="btn btn-info" asp-area="Customer" asp-controller="Ticket" asp-action="Index" ><strong>Customer Dashboard</strong></a>
    <a class="btn btn-danger" asp-area="Customer" asp-controller="Ticket" asp-action="PlaceOrder"><strong>Purchase Ticket</strong></a>
</div>
